@import "./breakpoints.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 1rem;
  max-width: 100%;
  overflow-x: hidden;
}

@media (min-width: 620px) {
  body {
    padding: 1.5rem 2rem;
  }
}

@media (min-width: 780px) {
  body {
    padding: 2rem 3rem;
    max-width: 60rem;
    margin: 0 auto;
  }
}
