:root {
  --freefall-font-body: "Lato", system-ui, -apple-system, sans-serif;
  --freefall-font-mono: "IBM Plex Mono", ui-monospace, "Cascadia Code", monospace;
}

html {
  font-family: var(--freefall-font-body);
}

code,
pre,
kbd,
samp {
  font-family: var(--freefall-font-mono);
}

p,
.text-copy {
  color: var(--freefall-text-body);
  font-size: 1rem;
  line-height: calc(3 * var(--freefall-space-1));
  margin-bottom: calc(2 * var(--freefall-space-1));
}

p:last-child,
.text-copy:last-child {
  margin-bottom: 0;
}

h4,
.text-h4 {
  font-size: calc(1.414 * 2 * var(--freefall-space-1));
  line-height: calc(2 * 2 * var(--freefall-space-1));
}

.text-high {
  color: var(--freefall-text-display);
}

.text-low {
  color: var(--freefall-text-muted);
}

.material-symbols-sharp {
  font-family: "Material Symbols Sharp";
  font-weight: normal;
  font-style: normal;
  font-size: 1.25em;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
