---
import VersionInfo from "../components/landing/VersionInfo.astro";
import { Content as Hero } from "../content/landing/hero.md";
import { Content as Intro } from "../content/landing/intro.md";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="FREE//FALL">
  <VersionInfo />
  <div class="landing">
    <section class="freefall-prose">
      <blockquote>
        <Hero />
      </blockquote>
      <Intro />
    </section>
  </div>
</BaseLayout>
