---
import "@free-fall/design-system/styles/base.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FREE//FALL</title>
  </head>
  <body>
    <h1>FREE//FALL</h1>
    <p>A web-native tabletop RPG.</p>
  </body>
</html>
